 @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');           
*
{
     box-sizing: border-box;
     font-family: 'Poppins',sans-serif;
}
body
{
     background: #0b0c10; 
}
h1 
{
     margin: 0;
     font-size: 24px;         
     font-weight: bold;
     color: #66FCF1;
}
h2
{
     margin-left: 2px;     
     font-weight: bold;
     color: #66fcf1;
     position:relative;
}
#tableassign
{
     position: relative;
     width:100%;
     color:#c5c6c7;
}
h3
{
     margin: 10px;     
     font-weight: bold;
     color: #0b0c10;
     position:relative;
     left:13px; 
}
.bugbugbox
{
     position: relative;
     background-color: #1f2833;     
     margin: 10px;
     border-radius: 25px;
     display: block;  
     justify-content: center;             
}
.subbox
{
     position: relative;
     width: 100%;
     background-color: #45a29e;
     display: inline-block;
     justify-content: center;   
     border-radius: 25px;
}
.factslist
{
    color: #c5c6c7;
}
.factslist li
{
    margin-bottom: 15px;
}
